body{
  background-color: #f8f8ff;
  font-family: 'Segoe UI', sans-serif;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.Card{
  background-color: #ffffff;
  border:2px solid black;
  border-radius: 7px;
  box-shadow: 5px 10px #aeafb1;
  padding: 30px 10px;
  margin: 20px;
  width: 50%;
}
.Card *{
  margin: 10px;
}
.Form {
  width: 50%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap:20px;
  margin: 30px auto;
}
#search-btn{
  background-color:'coral';
}
.Form input {
  font-size:25px;
  border-radius: 5px;
  border: 1px solid black;
  padding:5px 5px;
}
.Form button {
  font-size:25px;
  border-radius: 5px;
  border: 1px solid black;
  padding:5px 5px;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}
.retry-btn {
  font-size:25px;
  border-radius: 5px;
  border: 1px solid black;
  padding:5px 5px;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}


